.App {
  text-align: center;
  padding: 30px;
}

.form{
  padding-top:8px; 
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: left;
}

.form button {
  margin-top: 8px;
  max-width: 200px;

}